.auth {
  width: 30rem;
  margin: 2rem auto;
  max-width: 80%;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  align-items: center;
  margin: auto;
  gap: 10px;
}
input {
  height: 30px;
}
